<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_commerc3D</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/userthems/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/userthems/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/userthems/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/userthems/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/userthems/css/flaticon.css">
    <link rel="stylesheet" href="~/userthems/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/userthems/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/userthems/css/slick.css">
    <!-- style CSS -->

    <link rel="stylesheet" href="~/userthems/css/style.css">
</head>
<body>

   

    <div>
        @RenderBody()
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - E_commerc3D - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/userthems/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/userthems/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/userthems/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/userthems/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/userthems/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/userthems/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/userthems/js/owl.carousel.min.js"></script>
    <script src="~/userthems/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/userthems/js/slick.min.js"></script>
    <script src="~/userthems/js/jquery.counterup.min.js"></script>
    <script src="~/userthems/js/waypoints.min.js"></script>
    <script src="~/userthems/js/contact.js"></script>
    <script src="~/userthems/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/userthems/js/jquery.form.js"></script>
    <script src="~/userthems/js/jquery.validate.min.js"></script>
    <script src="~/userthems/js/mail-script.js"></script>


    <!-- custom js -->

    <script src="~/userthems/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
<script>
    var shop = new Vue({
        el: '#shop',
      
    })

</script>