@using Microsoft.AspNetCore.Identity
@inject SignInManager<E_commerc3D.Areas.AdminAreas.Models.ApplicationUser> SignInManager
@inject UserManager<E_commerc3D.Areas.AdminAreas.Models.ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="">
        <a  class="dropdown-item " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name!</a>
    </li>
    <li class="">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" >

            <button  type="submit" class="dropdown-item btn btn-link ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="">
        <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="">
        <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

